@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900i&display=swap');

/*font-family: 'Playfair Display', serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
    transition: .3s all;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background: #fff;
    color: #000;
    font-family: Verdana, "Microsoft JhengHei", "微軟正黑體", "新細明體", "蘋果儷黑體", Arial, Helvetica, sans-serif;
    ;
}

.container {
    width: 90%;
    max-width: 1290px;
    margin: 0 auto;
}

/*========== header ==========*/

header {
    width: 100%;
    position: fixed;
    z-index: 999;
    background: rgba(255, 255, 255, .85);
}

.top-tool {
    background: #f2f2f2;
    font-size: .6875rem;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.top-phone {
    float: left;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

.top-phone:before {
    content: '\f095';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 20px;
}

ul.top-link {
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

ul.top-link li {
    display: inline-block;
}

ul.top-link li:after {
    content: "|";
    margin: 0 20px;
}

ul.top-link li:last-of-type:after {
    display: none;
}

ul.top-link li a:hover {
    color: #d9bf8f;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

#myTopnav {
    width: 100%;
}

#menu {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: left;
    margin: 10px 0;
}

#menu a {
    display: block;
    padding: 20px 0;
    position: relative;
}

#menu a.menu-m {
    display: none;
}

#menu a:hover {
    color: #d9bf8f;
}

#menu a:after {
    content: "";
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 1px;
    background: #d9bf8f;
    transition: all .3s cubic-bezier(.25, .1, .25, 1);
    margin: 0 auto;
}

#menu a:hover:after {
    width: 100%;
}

#logo {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 242px;
}

#social-icon {
    width: 20%;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: right;
}

#social-icon a {
    display: block;
    border-radius: 50%;
    border: solid 2px #d9bf8f;
    color: #d9bf8f;
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 8px;
    position: relative;
}

.hi-icon-facebook:before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    content: "\f39e";
}

.hi-icon-twitter:before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    content: "\f099";
}

.hi-icon-pinterest:before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    content: "\f0d2";
}

.hi-icon-instagram:before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    content: "\f16d";
}

.hi-icon:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: #d9bf8f;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
    -moz-transition: -moz-transform 0.2s, opacity 0.3s;
    transition: transform 0.2s, opacity 0.3s;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.hi-icon:hover:before {
    color: #fff;
}

.hi-icon:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/*
#social-icon a:hover {
    background: #d9bf8f;
    color: #fff;
}

#social-icon a:before {
    content: "";
    position: absolute;
    background: #d9bf8f;
    transition: 3s;
    width: 0;
    height: 0;
    top: 25%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
}

#social-icon a:hover:before {
    width: 100%;
    height: 100%;
    transform: translate(-50%);
}
*/

#menu-select {
    width: 6%;
    height: 40px;
    min-width: 70px;
    margin: 15px 0 15px 20px;
    background: #000;
    color: #fff;
    float: right;
}

.menu-icon {
    display: none;
}

/*

.frame, .hambuger {
  width: 400px;
  height: 400px;
  background-color: #3faf82;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
*/
.hambuger {
    cursor: pointer;
    height: 30px;
    width: 40px;
}

.line {
    background-color: #000;
    height: 4px;
    width: 100%;
    border-radius: 3px;
    transition: 0.4s;
}

.line:nth-of-type(1) {
    animation: example3 0.5s forwards;
}

.line:nth-of-type(2) {
    margin: 10px 0;
}

.line:nth-of-type(3) {
    animation: example4 0.5s forwards;
}

.change .line:nth-of-type(1) {
    animation: example1 0.5s forwards;
}

.change .line:nth-of-type(2) {
    opacity: 0;
}

.change .line:nth-of-type(3) {
    animation: example2 0.5s forwards;
}

@keyframes example1 {
    0% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(14px) rotate(0);
    }

    100% {
        transform: translateY(14px) rotate(45deg);
    }
}

@keyframes example2 {
    0% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(-14px) rotate(0);
    }

    100% {
        transform: translateY(-14px) rotate(135deg);
    }
}

@keyframes example3 {
    0% {
        transform: translateY(14px) rotate(45deg);
    }

    50% {
        transform: translateY(14px) rotate(0);
    }

    100% {
        transform: translateY(0) rotate(0);
    }
}

@keyframes example4 {
    0% {
        transform: translateY(-14px) rotate(135deg);
    }

    50% {
        transform: translateY(-14px) rotate(0);
    }

    100% {
        transform: translateY(0) rotate(0);
    }
}


/*========== banner ==========*/

#banner {
    padding-top: 130px;
}

#banner img {
    max-width: inherit;
    width: 100%;
    transition: 1s;
}

#banner img:hover {
    transform: scale(1.05);
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 30px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}

.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    border-radius: 0;
    background: #b2b2b2;
    transform: rotate(45deg);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #000;
}

/*========== main ==========*/

#main {
    padding: 60px 0 0 0;
}

section {
    margin-bottom: 10%;
}

.support {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    margin-bottom: 60px;
}

.support div {
    ;
    padding: 30px;
    display: flex;
}

.support-grop01,
.support-grop03 {
    background: #d9bf8f;
    width: 30%;
}

.support-grop02 {
    background: #000;
    margin: 0 2%;
    width: 36%;
}

.support i {
    font-size: 3rem;
    margin-right: 6%;
}

.support h4 {
    font-size: 1.875rem;
}

.support h4 span {
    font-size: .9rem;
    display: block;
    margin-top: 10px;
}

h1.title {
    font-size: 1.875rem;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-align: center;
    min-width: 240px;
    margin: 0 auto;
    position: relative;
    background: url(../images/titlle-line.jpg) no-repeat center center;
    background-size: cover;
    padding: 12px;
    margin-bottom: 35px;
    height: 60px;
}

h1.title:before,
h1.title:after {
    content: "";
    width: 14px;
    height: 14px;
    display: block;
    background: #d9bf8f;
    transform: rotate(45deg);
    position: absolute;
    top: 37%;
}

h1.title:before {
    left: 36%;
}

h1.title:after {
    right: 36%;
}

.featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featured-block {
    width: 31%;
}

.featured .long {
    width: 36%;
    margin: 0 1%;
    background: url(../images/long01.jpg) no-repeat left center;
    background-size: cover;
    padding-top: 56%;
    position: relative;
}

.featured-h {
    width: 90%;
    height: 90%;
    margin: 5%;
    border: solid 3px #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s all;
}

.featured-h:hover {
    border: solid 3px rgba(0, 0, 0, 0);
    /*    border: none;*/
    background: rgba(0, 0, 0, 0.25);
}

.featured-h:after {
    content: url(../images/icon_plus.png);
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%);
    opacity: 0;
    transition: .5s;
}

.featured-h:hover:after {
    opacity: 1;
}

.featured-btn {
    width: 130px;
    background: #f0975c;
    color: #fff;
    font-size: .95rem;
    padding: 15px 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 5%;
    opacity: 0;
    transition: .5s;
}

.featured-h:hover .featured-btn {
    opacity: 1;
}

.featured .long .featured-h {
    height: 94.5%;
}

.featured .small01 {
    background: url(../images/small01.jpg) no-repeat center center;
    background-size: contain;
    padding-top: 100%;
    margin-bottom: 10px;
    position: relative;
}

.featured .small02 {
    background: url(../images/small02.jpg) no-repeat center center;
    background-size: contain;
    padding-top: 100%;
    position: relative;
}

.featured .small03 {
    background: url(../images/small03.jpg) no-repeat center center;
    background-size: contain;
    padding-top: 100%;
    margin-bottom: 10px;
    position: relative;
}

.featured .small04 {
    background: url(../images/small04.jpg) no-repeat center center;
    background-size: contain;
    padding-top: 100%;
    position: relative;
}

.recent {
    border: solid 1px #eaeaea;
    padding: .5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recent-box img {
    max-width: initial;
    width: 100%;
}

.recent-box {
    position: relative;
    line-height: 0;
    width: 24%;
    margin: .5%;
}

.recent-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    opacity: 0;
    line-height: 0;
    transition: .5s;
}

.recent-box:hover .recent-mask {
    opacity: 1;
}

.recent-discount {
    position: absolute;
    top: 5%;
    left: 5%;
    background: #feab12;
    color: #fff;
    font-size: 1.2em;
    border-radius: 50%;
    line-height: 1rem;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 20px 0px;
}

.recent-discount:after {
    content: "%";
    font-size: .5rem;
}

.recent-cart {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    height: 40px;
    line-height: 1rem;
    text-align: center;
    font-size: .85rem;
    padding: 13px 5px;
    background: #000;
    color: #fff;
    transition: .5s;
}

.recent-cart:before {
    content: "";
    position: absolute;
    top: 0;
    left: -39px;
    border-color: transparent #000 transparent transparent;
    border-style: solid solid solid solid;
    border-width: 40px 40px 0px 0px;
    height: 0px;
    width: 0px;
    transition: .5s;
}

.recent-cart:after {
    content: "";
    position: absolute;
    top: 0;
    right: -39px;
    border-color: transparent transparent #000 transparent;
    border-style: solid solid solid solid;
    border-width: 0px 40px 40px 0px;
    height: 0px;
    width: 0px;
    transition: .5s;
}

.recent-box:hover .recent-cart {
    background: #f0975c;
}

.recent-box:hover .recent-cart:before {
    border-color: transparent #f0975c transparent transparent;
}

.recent-box:hover .recent-cart:after {
    border-color: transparent transparent #f0975c transparent;
}

.brand {
    background: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    padding: 3% 2%;
    justify-content: space-around;

}

.brand img {
    width: 16%;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #d9bf8f;
}

.customer-bg {
    background: #d9bf8f;
}

.customer {
    padding: 5% 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.customer:before {
    content: "";
    display: block;
    border-width: 30px 150px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.customer-box {
    width: 48%;
    display: flex;
    justify-content: space-around;
}

.customer-box figure {
    display: flex;
    flex-wrap: wrap;
}

.customer-box figure.reverse {
    flex-direction: row-reverse;
}

.customer-box figure .figure-pic {
    width: 48%;
    height: auto;
}

.customer-box figure.reverse .figure-pic {
    text-align: right;
}

.customer-box figure figcaption {
    width: 52%;
    padding: 10% 0;
}

.customer-box figure.reverse figcaption {
    text-align: right;
}

.customer-box p {
    font-size: 1.125rem;
    color: #fff;
    margin: 40px 0;
}

.customer-box h5 {
    font-size: 1.5rem;
    margin: 10px 0 20px;
}

.customer-box span {
    display: block;
    color: #7f7e7e;
    font-size: .9rem;
}

/*========== footer ==========*/

footer {
    background: #141414;
    color: #737373;
    border-bottom: 40px solid #000;
    padding: 5%;
}

.footer-sitemap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10%;
}

.footer-sitemap h2 {
    color: #fff;
    margin-bottom: 6%;
}

.footer-sitemap a {
    color: #737373;
    display: block;
    font-size: .85rem;
    transition: .3s;
    line-height: 26px;
}

.footer-social {
    margin-bottom: 10%;
}

.footer-social a {
    width: 48px;
    height: 48px;
    background: #fff;
    color: #000;
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    font-size: 1.25rem;
    text-align: center;
    line-height: 38px;
    transition: .5s;
    position: relative;
}

.footer-social .fa-wifi {
    transform: rotate(45deg);
}

.footer-social a:hover {
    color: #000;
    background: #d9bf8f;
}

.footer-stayConnected p {
    color: #fff;
    margin-bottom: 30px;
}

.footer-stayConnected p span {
    font-family: 'Playfair Display';
    font-style: italic;
    margin: 0 5px;
}

.footer-letter {
    border: solid 2px #484848;
    padding: 3px;
    display: flex;
}

.footer-letter input {
    width: calc(100% - 100px);
    background: transparent;
    padding: 0 10px;
    border: none;
    color: #fff;
}

.footer-letter button {
    width: 100px;
    background: #323030;
    color: #fff;
    text-align: center;
    font-size: .75rem;
    padding: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.footer-letter button:hover {
    background: #d9bf8f;
}

.footer-line {
    background: #363636;
    width: 100%;
    height: 1px;
    margin-bottom: 30px;
    position: relative;
}

.footer-line:before {
    content: "";
    display: block;
    border-width: 10px 10px;
    border-style: solid;
    border-color: #363636 transparent transparent transparent;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.copyright {
    color: #363636;
    font-size: .5rem;
    line-height: 1.25rem;
}

.footer-card {
    display: flex;
    margin: 10px 0
}

.footer-card img {
    width: 40px;
    height: 40px;
}

.scroll-up {
    position: fixed;
    display: none;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}

.scroll-up a {
    background: #000;
    display: block;
    height: 44px;
    width: 44px;
    text-align: center;
    line-height: 38px;
    font-size: 2rem;
    color: #fff;
    opacity: 0.6;
}

.scroll-up a:hover,
.scroll-up a:active {
    opacity: 1;
    color: #d9bf8f;
}

@media (max-width: 768px) {

    /* header */
    .topnav #menu,
    .topnav #menu-select,
    .topnav #social-icon {
        display: none;
    }

    .topnav a.menu-icon {
        float: right;
        display: block;
        font-size: 2rem;
        margin: 15px 0;
    }

    .topnav.responsive {
        position: relative;
        padding-top: 70px;
        display: flex;
        flex-wrap: wrap;
        max-height: 530px;
        overflow: auto
    }

    .topnav.responsive .menu-icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive #menu,
    .topnav.responsive #menu-select,
    .topnav.responsive #social-icon {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive #menu {
        width: 100%;
    }

    .topnav.responsive #menu a {
        text-align: center;
    }

    .topnav.responsive #social-icon {
        width: 40%;
        margin: 0 30%;
        display: flex;
        justify-content: space-between;
    }

    .topnav.responsive #logo {
        top: 0;
    }

    .topnav.responsive #menu-select {
        order: 4;
        width: 40%;
        margin: 5% 30%;
    }

    /* main */
    h1.title:before {
        left: 25%;
    }

    h1.title:after {
        right: 25%;
    }

    .support-grop01,
    .support-grop03 {
        width: 100%;
    }

    .support-grop02 {
        width: 100%;
        margin: 20px 0;
    }

    .recent {
        justify-content: flex-start;
        border: none;
    }

    .recent-box {
        width: 32.3%;
    }

    .recent-cart {
        padding: 5px;
    }

    .brand img {
        width: 33.33%;
    }

    .customer-box {
        width: 100%;
    }

    /* footer */
    .footer-shop,
    .footer-information,
    .footer-customerService {
        width: 33.33%;
    }

    .footer-stayConnected {
        width: 100%;
        margin-top: 10%;
    }
}

@media (max-width: 500px) {

    /* header */
    ul.top-link {
        display: none;
    }

    .top-phone {
        float: none;
        justify-content: center;
        text-align: center;
    }

    #logo {
        max-width: 200px;
    }

    .topnav.responsive #menu a {
        display: block;
    }

    .topnav.responsive #social-icon {
        width: 60%;
        margin: 0 20%;
    }

    .topnav.responsive #menu-select {
        width: 60%;
        margin: 5% 20%;
    }

    /* main */
    #banner {
        padding-top: 115px;
    }

    h1.title {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    h1.title:before {
        left: 12%;
    }

    h1.title:after {
        right: 12%;
    }

    .featured-block {
        width: 100%;
    }

    .featured .long {
        width: 100%;
        padding-top: 180%;
        margin: 5% 0
    }

    .brand img {
        width: 48%;
    }

    .customer {
        padding-top: 20%;
    }

    .customer-box p {
        margin: 3% 0;
    }

    .recent-box {
        width: 100%;
        margin: 0 0 5% 0;
    }

    /* footer */
    .footer-shop,
    .footer-information,
    .footer-customerService {
        display: none;
    }

    .footer-social {
        display: flex;
        justify-content: space-between;
    }

    .footer-social a {
        width: 36px;
        height: 36px;
        font-size: 1em;
        line-height: 28px;
    }
}

@media (max-width: 500px) {
    h1.title:before {
        left: 5%;
    }

    h1.title:after {
        right: 5%;
    }
}
